/Condicionales.py
/conversor a dolares.py
/Descuento.py
/Descuento2.py
/dia_de_semana_condicionales.py
/ejercicio1.py
/ejercicio_cine.py
/NOTAS-CONDICIONAL-ANIDADO.py
/NOTAS_ESTUDIANTES.py
/numero_mayor.py
/practice.py
/RECTANGOLU.py